---
layout: default
title: home
---

  <div id="introduction">
    <span class="first-line">Hi, my name is Wolfgang Vogl</span> <br/>
    <span> and I am a webdeveloper from Salzburg (Austria).
    On this site you will find some projects of mine.
    On my <a href="http://blog.wolfgang-vogl.com">Blog</a> I post some tech stuff about 
    technologies like Ruby on Rails, JavaScript, node.js and so on.
    </span>
  </div>
  
  <div id="contact">
    <p>If you have any questions about me or my work, don't hesitate to write me an email
      <a href="mailto:wolfgang.vogl@aon.at">@mail</a>
    </p>

    <p>You can also find me on:<br/>
       <a href="https://github.com/wolli2710">github</a>
       <a href="http://twitter.com/#!/Wolli2710">twitter</a>
       <a href="https://plus.google.com/101593148620132927419/about">Google+</a>
       <a href="https://www.xing.com/profile/Wolfgang_Vogl11">xing</a>
       <a href="http://www.linkedin.com/pub/wolfgang-vogl/54/970/154">linkedin</a>
    </p>
  </div>

  <div id="projects" class="centered">
    <span class="first-line">Projects:</span><br/>
    
    {% for post in site.posts %}
  
      <div class="project left">
        <div class="post-image" style="background-image: url(/images/{{post.thumb}}) "></div>
        <div class="content">
          <p class="first-line"> {{ post.title }} <p>
          
          <p class="description"> {{ post.description }} <p>

          {% if post.collaborators %}<div class="collaborators">Collaborators:<br/> {{ post.collaborators }} </div> {% endif %}
          {% if post.site_link %}| <a href="{{post.site_link}}">page</a> | {% endif %}
          {% if post.fb_link %}| <a href="{{post.fb_link}}">facebook</a> | {% endif %}
          {% if post.google_link %}| <a href="{{post.google_link}}">google+</a> | {% endif %}
          {% if post.code %}| <a href="{{post.code}}">code</a> | {% endif %}
          {% if post.video %}| <a href="{{post.video}}">video</a> | {% endif %}
        </div>
      </div>
    {% endfor %}

    <div class="clr"></div>

  </div>


  <div id="thesis" class="centered">
    <span class="first-line">Scientific Work:</span><br/>
      
      <div class="project left">
        <div class="post-image" style="background-image: url(/images/masterthesis.jpg) "></div>
        <div class="content">
          <p class="first-line"> Accuracy of sleep measurement with Android smartphones. <p>
          
          <p class="description"> In my master thesis I discussed the opportunities of modern Android smartphones for the measurement of human sleep. I compared and evaluated the smartphone data with the data of the laboratory for "Sleep, Cognition and Consciousness Research" from the university of Salzburg at the department of psychology. <p>
        </div>
      </div>

      <div class="project left">
        <div class="post-image" style="background-image: url(/images/bakk2.jpg) "></div>
        <div class="content">
          <p class="first-line"> Usage of databases with the Rails Framework <p>
          
          <p class="description"> In my second bachelor thesis I discussed the usage of the relational database MySQL compared to the document oriented database MongoDB. I built two webapplications with the same features, one with MongoDB and one with MySQL. Both of the application were built with the Rails framework.<p>
        </div>
      </div>

      <div class="project left">
        <div class="post-image" style="background-image: url(/images/bakk1.jpg) "></div>
        <div class="content">
          <p class="first-line"> NoSQL databases for community webapplications <p>
          
          <p class="description"> In my first bachelor thesis I discussed the usage of the wide column store (NoSQL) database Cassandra for creating community webapplications. In my thesis I used the Rails Framework and compared the Cassandra based application to a regular MySQL based application.<p>
        </div>
      </div>

    <div class="clr"></div>

  </div>
