<!doctype html>
<html>

<head>
  <meta charset="utf-8"/>
  <title>Wolfgang Vogl</title>
        <!--[if lt IE 9]>
            <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->
    <!-- 
      <link rel="stylesheet" media="all" href="/styles/less.css"/> 
  -->

  <link rel="stylesheet/less" type="text/css" href="/styles/less.less">
  <script src="/scripts/less.js" type="text/javascript"></script>
  <link rel="shortcut icon" href="favicon.ico"/ >


  <meta name="keywords" content="Wolfgang Vogl, node.js, JavaScript, ruby on rails, webdevelopment"/>
  <meta name="description" content="Wolfgang Vogl is a webdeveloper with experience in node.js, JavaScript and Ruby on Rails"/>
  <meta name="language" content="EN"/>
  <meta name="copyright" content="Wolfgang Vogl"/>
  <meta name="Classification" content="Business"/>

  <meta name="viewport" content="width=device-width, initial-scale=1"/>
  <!-- Adding "maximum-scale=1" fixes the Mobile Safari auto-zoom bug: http://filamentgroup.com/examples/iosScaleBug/ -->
</head>

<body>
    {{ content }}
</body>

</html>
